.moto {
    font-size: 40px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background-color: rgb(219, 198, 157);
}

h3{
    color: white;
}
